// Set your Variables
$sushi-primary-color: #81C7D4;
$info: $sushi-primary-color;
$loading-background: rgba(0,0,0,0.6);
$modal-background-background-color: rgba(0,0,0,0.6);
$loading-full-page-icon-size: 3em;
$tabs-link-padding: .75em 1em;
$tabs-border-bottom-width: 3px;
$tabs-border-bottom-color: rgba(245, 245, 245, 0);
$tabs-link-active-color: $sushi-primary-color;
$tabs-link-hover-border-bottom-color: $sushi-primary-color;
$tabs-link-active-border-bottom-color: $sushi-primary-color;
$menu-item-radius: .25em;
$menu-item-active-background-color: $sushi-primary-color;
$dropdown-item-hover-background-color: $sushi-primary-color;
$dropdown-item-hover-color: white;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";