.theme-tz
  --primary-color #3B3C44
  &-text, &-title
    color var(--primary-color) !important
    @apply tw-relative
  &-title::before
    content ''
    background-color var(--primary-color)
    @apply tw-absolute tw-h-full tw-w-2 tw--left-5
  &-bg
    background-color var(--primary-color) !important
  &-border, &-border:hover
    border-color var(--primary-color)
.theme-tg
  --primary-color #922929
  --secondary-color #362E2C
  &-text, &-title
    color var(--primary-color) !important
    @apply tw-relative
  &-title::before
    content ''
    background-color var(--primary-color)
    @apply tw-absolute tw-h-full tw-w-2 tw--left-5
  &-bg
    background-color var(--primary-color) !important
  &-border, &-border:hover
    border-color var(--primary-color)
.theme-gs
  --primary-color #004789
  &-text, &-title 
    color var(--primary-color) !important
    @apply tw-relative
  &-title::before
    content ''
    background-color var(--primary-color)
    @apply tw-absolute tw-h-full tw-w-2 tw--left-5
  &-bg
    background-color var(--primary-color) !important
  &-border, &-border:hover
    border-color var(--primary-color)
.theme-hc
  --primary-color #fec63d
  --secondary-color #664A39
  &-text, &-title 
    color var(--secondary-color) !important
    @apply tw-relative
  &-title::before
    content ''
    background-color var(--primary-color)
    @apply tw-absolute tw-h-full tw-w-2 tw--left-5
  &-bg
    background-color var(--primary-color) !important
  &-border, &-border:hover
    border-color var(--primary-color)

* // Remove Gray Highlight When Tapping in Mobile Safari
  -webkit-tap-highlight-color: rgba(0,0,0,0);
#app
  padding-top env(safe-area-inset-top)
  padding-bottom env(safe-area-inset-bottom)
  height 100%
  weight 100%
  max-width 800px
  background-color #EFEFEF
  margin 0 auto
html, body 
  @apply tw-w-screen tw-h-screen tw-overflow-hidden tw-bg-gray-50
button
  @apply tw-rounded-md
.radio, .checkbox
  @apply tw-m-2
.label
  @apply tw-text-lg
.progress
  width calc(100% - 3rem)
  max-width 120px
  @apply tw-inline-block
input[type="date"]::-webkit-calendar-picker-indicator
  background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z' /%3E%3C/svg%3E");
  @apply tw-w-6 tw-h-6
input[type="text"]
input[type="number"]
input[type="date"]
select
textarea
  @apply tw-bg-gray-50
.image
  &.is-5by2
    padding-top 40%
    img
      @apply tw-w-full tw-h-full tw-top-0 tw-right-0 tw-left-0 tw-bottom-0 tw-absolute

.loading-overlay
  .loading-background
    background rgba(0, 0, 0, 0.2)
  .loading-icon:after
    border-left-color #EFEFEF
    border-bottom-color #EFEFEF

.checkbox
  @apply tw-relative tw-pl-8 tw-cursor-pointer
  .checkmark
    @apply tw-absolute tw-top-0 tw-left-0 tw-h-5 tw-w-5 tw-bg-gray-50 tw-border tw-border-gray-400 tw-rounded
    &::after
      content ''
      border: solid white
      border-width 0 3px 3px 0
      @apply tw-absolute tw-w-2 tw-h-3 tw-left-1/2 tw-top-1/2 tw-hidden tw-transform tw-rotate-45 tw--translate-x-1/2 tw--translate-y-2/3
  input
    @apply tw-absolute tw-opacity-0 tw-h-0 tw-w-0 tw-cursor-pointer
    &:checked ~ .checkmark
      background-color var(--primary-color)
      &::after
        @apply tw-block

.radio
  @apply tw-relative tw-pl-8 tw-cursor-pointer
  .checkmark
    @apply tw-absolute tw-top-0 tw-left-0 tw-h-5 tw-w-5 tw-bg-gray-50 tw-border tw-border-gray-400 tw-rounded-full
    &::after
      content ''
      @apply tw-absolute tw-w-2 tw-h-2 tw-left-1/2 tw-top-1/2 tw-hidden tw-transform tw--translate-x-1/2 tw--translate-y-1/2 tw-bg-white tw-rounded-full
  input
    @apply tw-absolute tw-opacity-0 tw-h-0 tw-w-0 tw-cursor-pointer
    &:checked ~ .checkmark
      background-color var(--primary-color)
      &::after
        @apply tw-block
.notices .toast
  margin: calc(.5em + env(safe-area-inset-bottom)) 0