<template>
  <div :class="shwTheme">
    <!-- 起題 -->
    <template v-if="surveyCurrent == 1">
      <div class="tw-m-5 md:tw-m-10">
        <!-- 標題名稱 -->
        <p class="tw-text-xl tw-font-semibold tw-mb-4" :class="`${shwTheme}-title`">社群、網路</p>
        <div class="tw-grid tw-grid-cols-1 tw-gap-0 tw-mt-4">
          <div class="field tw-mb-0">
            <!-- 項目名稱 -->
            <label class="label" :class="`${shwTheme}-text`">如何得知本店</label>
            <div class="control tw-flex-col">
              <!-- 選項名稱，題型(單選) -->
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq00">
                <span class="checkmark"></span>
                親友推薦
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq00">
                <span class="checkmark"></span>
                FB
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq00">
                <span class="checkmark"></span>
                IG
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq00">
                <span class="checkmark"></span>
                Google Maps
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq00">
                <span class="checkmark"></span>
                其他
              </label>
            </div>
          </div>
          <div class="field tw-mb-0">
            <label class="label" :class="`${shwTheme}-text`">海鮮品質</label>
            <div class="control">
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                非常滿意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                還算滿意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                普通
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                差強人意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                非常差勁
              </label>
            </div>
          </div>
          <div class="field tw-mb-0">
            <label class="label" :class="`${shwTheme}-text`">感受建議：</label>
            <div class="control">
              <!-- 多行文字 rows="2" -->
              <textarea class="textarea has-fixed-size" rows="2" placeholder=""></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="tw-m-5 md:tw-m-10">
        <p class="tw-text-xl tw-font-semibold tw-mb-4" :class="`${shwTheme}-title`">
          今日所選湯底
          <span class="tag is-rounded tw-text-white tw-align-top" :class="`${shwTheme}-bg`">複選</span>
        </p>
        <div class="tw-grid tw-grid-cols-1 tw-gap-0 tw-mt-4">
          <div class="field tw-mb-0">
            <div class="control tw-flex-col">
              <!-- 選項名稱，題型(複選) -->
              <label class="checkbox tw-block" :class="`${shwTheme}-text`">
                <input type="checkbox">
                <span class="checkmark"></span>
                紅金麻辣湯
              </label>
              <label class="checkbox tw-block" :class="`${shwTheme}-text`">
                <input type="checkbox">
                <span class="checkmark"></span>
                泡泡雞白湯
              </label>
              <label class="checkbox tw-block" :class="`${shwTheme}-text`">
                <input type="checkbox">
                <span class="checkmark"></span>
                四川麻辣牛油鍋
              </label>
              <label class="checkbox tw-block" :class="`${shwTheme}-text`">
                <input type="checkbox">
                <span class="checkmark"></span>
                芫荽皮蛋豚骨湯
              </label>
              <label class="checkbox tw-block" :class="`${shwTheme}-text`">
                <input type="checkbox">
                <span class="checkmark"></span>
                西瓜綿魚骨清湯
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="tw-m-5 md:tw-m-10">
        <p class="tw-text-xl tw-font-semibold tw-mb-4" :class="`${shwTheme}-title`">今日整體餐點滿意度</p>
        <div class="tw-grid tw-grid-cols-1 tw-gap-0 tw-mt-4">
          <div class="field tw-mb-0">
            <label class="label" :class="`${shwTheme}-text`">肉類品質</label>
            <div class="control tw-flex-col">
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq01">
                <span class="checkmark"></span>
                非常滿意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq01">
                <span class="checkmark"></span>
                還算滿意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq01">
                <span class="checkmark"></span>
                普通
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq01">
                <span class="checkmark"></span>
                差強人意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq01">
                <span class="checkmark"></span>
                非常差勁
              </label>
            </div>
          </div>
          <div class="field tw-mb-0">
            <label class="label" :class="`${shwTheme}-text`">海鮮品質</label>
            <div class="control">
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                非常滿意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                還算滿意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                普通
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                差強人意
              </label>
              <label class="radio tw-block" :class="`${shwTheme}-text`">
                <input type="radio" name="Fq02">
                <span class="checkmark"></span>
                非常差勁
              </label>
            </div>
          </div>
          <div class="field tw-mb-0">
            <label class="label" :class="`${shwTheme}-text`">感受建議：</label>
            <div class="control">
              <textarea class="textarea has-fixed-size" rows="2" placeholder=""></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="tw-m-5 md:tw-m-10">
        <p class="tw-text-xl tw-font-semibold tw-mb-4" :class="`${shwTheme}-title`">我想肯定的優秀人員是 </p>
        <div class="tw-grid tw-grid-cols-6 tw-gap-4 tw-mt-4">
          <div class="tw-col-span-6">
            <div class="field">
              <div class="control">
                <!-- 單行文字 rows="1" -->
                <textarea class="textarea has-fixed-size" rows="1" placeholder=""></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tw-m-5 md:tw-m-10">
        <button class="button tw-text-white tw-w-full" :class="`${shwTheme}-bg ${shwTheme}-border`" @click="sendForm">完成送出</button>
      </div>
    </template>

  </div>
</template>

<style lang="stylus"></style>

<script>

#畫面做動態html
<button :class="(order.colorDetail)" v-html="order.txtDetail"></button>

const bYes = !!nSetMin && nMin < nSetMin
if (bYes) {
	const bTrue = nMin >= 0
		,tt1 = bTrue ? '即將取餐' : '取餐逾時'
		,tt2 = bTrue ? `剩 ${nMin}` : `過 ${nMin*-1}`
		_txt = `${tt1}<span class="w3-block w3-tiny">(${tt2} 分鐘)</span>`;
	_color = "w3-red";
	console.log('getStatusTxt-DeliveryType,_txt: '+dType1, _txt);	// @@
}
o1.txtDetail = _txt;
o1.colorDetail = _color;
</script>