<template>
  <div :class="shwTheme">
    <!-- 基本資料 -->
    <template>
      <div class="m-5 md:m-10">
        <p class="text-2xl text-gray-400 font-semibold mb-4">用餐時間：</p>
        <div class="grid grid-cols-6 gap-4 mt-4">
          <div class="col-span-6">
            <div class="field">
              <label class="label">日期 <span class="text-red-600">*</span></label>
              <div class="control has-icons-left">
                <input class="input" type="date" placeholder="" v-model="dateTime">
                <span class="icon is-small is-left">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">時段 <span class="text-red-600">*</span></label>
              <div class="control">
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="period" value="datePriod1" v-model="datePriod">
                    午餐 / 11:00-14:00
                  </label>
                  <label class="radio">
                    <input type="radio" name="period" value="datePriod2" v-model="datePriod">
                    午茶 / 14:00-17:00
                  </label>
                  <label class="radio">
                    <input type="radio" name="period" value="datePriod3" v-model="datePriod">
                    晚餐 / 17:00-21:00
                  </label>
                  <label class="radio">
                    <input type="radio" name="period" value="datePriod4" v-model="datePriod">
                    消夜 / 21:00-24:00
                  </label>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">人數</label>
              <div class="control">
                <input class="input" type="text" placeholder="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-5 md:m-10">
        <p class="text-2xl text-gray-400 font-semibold mb-4">基本資料：</p>
        <div class="grid grid-cols-6 gap-4 mt-4">
          <div class="col-span-6">
            <div class="field">
              <label class="label">貴賓姓名 <span class="text-red-600">*</span></label>
              <div class="control">
                <input class="input" type="text" placeholder="">
              </div>
            </div>
            <div class="field">
              <label class="label">性別</label>
              <div class="control">
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="gender">
                    先生
                  </label>
                  <label class="radio">
                    <input type="radio" name="gender">
                    小姐
                  </label>
                  <label class="radio">
                    <input type="radio" name="gender">
                    小朋友
                  </label>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">聯絡電話(中獎通知使用，請正確填寫) <span class="text-red-600">*</span></label>
              <div class="control">
                <input class="input" type="number" placeholder="">
              </div>
            </div>
            <div class="field">
              <label class="label">電子信箱</label>
              <div class="control">
                <input class="input" type="text" placeholder="">
              </div>
            </div>
            <div class="field">
              <label class="label">貴賓年齡 <span class="text-red-600">*</span></label>
              <div class="control">
                <label class="radio">
                  <input type="radio" name="age">
                  19歲以下
                </label>
                <label class="radio">
                  <input type="radio" name="age">
                  20-30歲
                </label>
                <label class="radio">
                  <input type="radio" name="age">
                  31-40歲
                </label>
                <label class="radio">
                  <input type="radio" name="age">
                  41歲以上
                </label>
              </div>
            </div>
            <div class="field">
              <label class="label">居住區域 <span class="text-red-600">*</span></label>
              <div class="control">
                <div class="grid grid-cols-2 gap-4">
                  <div class="select">
                    <select class="w-full" v-model="selectedCounty">
                      <option value="選縣市" disabled>選縣市</option>
                      <option v-for="county in counties" :value="county" :key="county">{{county}}</option>
                    </select>
                  </div>
                  <div class="select">
                    <select class="w-full" v-model="selectedArea">
                      <option value="選區域" disabled>選區域</option>
                      <option v-for="area in areas" :value="area" :key="area">{{area}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  // import store from 'src/store'
import { Go404 } from 'src/fun1.js'	// 共用fun在此!
import { ShowTheme,This1 } from 'src/fun2.js'


const placeData = {"台北市":["中正區","大同區","中山區","萬華區","信義區","松山區","大安區","南港區","北投區","內湖區","士林區","文山區"],"新北市":["板橋區","新莊區","泰山區","林口區","淡水區","金山區","八里區","萬里區","石門區","三芝區","瑞芳區","汐止區","平溪區","貢寮區","雙溪區","深坑區","石碇區","新店區","坪林區","烏來區","中和區","永和區","土城區","三峽區","樹林區","鶯歌區","三重區","蘆洲區","五股區"],"基隆市":["仁愛區","中正區","信義區","中山區","安樂區","暖暖區","七堵區"],"桃園市":["桃園區","中壢區","平鎮區","八德區","楊梅區","蘆竹區","龜山區","龍潭區","大溪區","大園區","觀音區","新屋區","復興區"],"新竹市":["東區","北區","香山區"],"新竹縣":["竹北市","竹東鎮","新埔鎮","關西鎮","峨眉鄉","寶山鄉","北埔鄉","橫山鄉","芎林鄉","湖口鄉","新豐鄉","尖石鄉","五峰鄉"],"苗栗縣":["苗栗市","通霄鎮","苑裡鎮","竹南鎮","頭份市","後龍鎮","卓蘭鎮","西湖鄉","頭屋鄉","公館鄉","銅鑼鄉","三義鄉","造橋鄉","三灣鄉","南庄鄉","大湖鄉","獅潭鄉","泰安鄉"],"台中市":["中區","東區","南區","西區","北區","北屯區","西屯區","南屯區","太平區","大里區","霧峰區","烏日區","豐原區","后里區","東勢區","石岡區","新社區","和平區","神岡區","潭子區","大雅區","大肚區","龍井區","沙鹿區","梧棲區","清水區","大甲區","外埔區","大安區"],"彰化縣":["彰化市","員林市","和美鎮","鹿港鎮","溪湖鎮","二林鎮","田中鎮","北斗鎮","花壇鄉","芬園鄉","大村鄉","永靖鄉","伸港鄉","線西鄉","福興鄉","秀水鄉","埔心鄉","埔鹽鄉","大城鄉","芳苑鄉","竹塘鄉","社頭鄉","二水鄉","田尾鄉","埤頭鄉","溪州鄉"],"南投縣":["南投市","埔里鎮","草屯鎮","竹山鎮","集集鎮","名間鄉","鹿谷鄉","中寮鄉","魚池鄉","國姓鄉","水里鄉","信義鄉","仁愛鄉"],"嘉義市":["東區","西區"],"嘉義縣":["太保市","朴子市","布袋鎮","大林鎮","民雄鄉","溪口鄉","新港鄉","六腳鄉","東石鄉","義竹鄉","鹿草鄉","水上鄉","中埔鄉","竹崎鄉","梅山鄉","番路鄉","大埔鄉","阿里山鄉"],"雲林縣":["斗六市","斗南鎮","虎尾鎮","西螺鎮","土庫鎮","北港鎮","莿桐鄉","林內鄉","古坑鄉","大埤鄉","崙背鄉","二崙鄉","麥寮鄉","台西鄉","東勢鄉","褒忠鄉","四湖鄉","口湖鄉","水林鄉","元長鄉"],"高雄市":["楠梓區","左營區","鼓山區","三民區","鹽埕區","前金區","新興區","苓雅區","前鎮區","小港區","旗津區","鳳山區","大寮區","鳥松區","林園區","仁武區","大樹區","大社區","岡山區","路竹區","橋頭區","梓官區","彌陀區","永安區","燕巢區","田寮區","阿蓮區","茄萣區","湖內區","旗山區","美濃區","內門區","杉林區","甲仙區","六龜區","茂林區","桃源區","那瑪夏區"],"台南市":["中西區","東區","南區","北區","安平區","安南區","永康區","歸仁區","新化區","左鎮區","玉井區","楠西區","南化區","仁德區","關廟區","龍崎區","官田區","麻豆區","佳里區","西港區","七股區","將軍區","學甲區","北門區","新營區","後壁區","白河區","東山區","六甲區","下營區","柳營區","鹽水區","善化區","大內區","山上區","新市區","安定區"],"屏東縣":["屏東市","潮州鎮","東港鎮","恆春鎮","萬丹鄉","長治鄉","麟洛鄉","九如鄉","里港鄉","鹽埔鄉","高樹鄉","萬巒鄉","內埔鄉","竹田鄉","新埤鄉","枋寮鄉","新園鄉","崁頂鄉","林邊鄉","南州鄉","佳冬鄉","琉球鄉","車城鄉","滿州鄉","枋山鄉","霧台鄉","瑪家鄉","泰武鄉","來義鄉","春日鄉","獅子鄉","牡丹鄉","三地門鄉"],"宜蘭縣":["宜蘭市","羅東鎮","蘇澳鎮","頭城鎮","礁溪鄉","壯圍鄉","員山鄉","冬山鄉","五結鄉","三星鄉","大同鄉","南澳鄉"],"花蓮縣":["花蓮市","鳳林鎮","玉里鎮","新城鄉","吉安鄉","壽豐鄉","秀林鄉","光復鄉","豐濱鄉","瑞穗鄉","萬榮鄉","富里鄉","卓溪鄉"],"台東縣":["台東市","成功鎮","關山鎮","長濱鄉","海端鄉","池上鄉","東河鄉","鹿野鄉","延平鄉","卑南鄉","金峰鄉","大武鄉","達仁鄉","綠島鄉","蘭嶼鄉","太麻里鄉"],"澎湖縣":["馬公市","湖西鄉","白沙鄉","西嶼鄉","望安鄉","七美鄉"],"連江縣":["南竿鄉","北竿鄉","莒光鄉","東引鄉"],"金門縣":["金城鎮","金湖鎮","金沙鎮","金寧鄉","烈嶼鄉","烏坵鄉"]
}

export default {
  data: function () {
    return {
			// state: this.$store.state,

      dateTime: '',
      datePriod: '',
      placeData: placeData,
      selectedCounty: '選縣市',
      selectedArea: '選區域',
      shwTheme: '',
    };
  },
  // methods: {
    // activeInput(group) {
      // this.$refs['inputRadio' + group].checked = true;
      // this.$refs['inputText' + group].focus()
    // },
  // },
  computed: {
    counties(){ return Object.keys(this.placeData) },
    areas(){ return this.placeData[this.selectedCounty] },
  },
  beforeRouteEnter(to, from, next) {
		// next()
		next(vm => {
			if (This1) {
				vm.shwTheme = ShowTheme();
			} else {	// 如企業GID錯誤跳404
				Go404();
			}
		})

  },
}
</script>