<template>
  <div :class="shwTheme">
    <!-- 結束 -->
    <!-- <template v-if="surveyCurrent == surveyTotal + 1"> -->
    <template>
      <header class="tw-m-0 md:tw-m-4">
        <figure class="image is-5by2">
          <!-- 客戶形象圖片hardcode，長寬比5:2，<500K -->
          <img class="tw-object-cover md:tw-rounded-xl" src="static/hero-image-thanks.jpg">
        </figure>
      </header>
      <article class="tw-m-5 md:tw-mx-10 md:tw-my-6 tw-text-center">
        <div class="tw-grid tw-grid-cols-6 tw-mt-10">
          <div class="tw-col-start-1 tw-col-span-6 md:tw-col-start-2 md:tw-col-span-4">
            <a href="#" @click="goUrl('https://www.facebook.com/Ttanzuomali/')" class="button is-text tw-w-full hover:tw-bg-white" :class="`${shwTheme}-text`">碳佐麻里精品燒肉-非吃不可粉絲團</a>
          </div>
          <div class="tw-col-start-1 tw-col-span-6 md:tw-col-start-2 md:tw-col-span-4">
            <a href="#" @click="goUrl('https://www.facebook.com/tangomala/')" class="button is-text tw-w-full hover:tw-bg-white" :class="`${shwTheme}-text`">碳佐tango麻辣鴛鴦鍋</a>
          </div>
          <div class="tw-col-start-1 tw-col-span-6 md:tw-col-start-2 md:tw-col-span-4">
            <a href="#" @click="goUrl('https://www.facebook.com/itsgoodtohaveyou/')" class="button is-text tw-w-full hover:tw-bg-white" :class="`${shwTheme}-text`">有你真好 火鍋沙龍</a>
          </div>
          <div class="tw-col-start-1 tw-col-span-6 md:tw-col-start-2 md:tw-col-span-4">
            <a href="#" @click="goUrl('https://www.facebook.com/goodhunancuisine/')" class="button is-text tw-w-full hover:tw-bg-white" :class="`${shwTheme}-text`">有你真好 湘菜沙龍</a>
          </div>
        </div>

        <div class="tw-grid tw-grid-cols-6 tw-gap-4 tw-mt-10" v-if="fromInfo.fromUrl">
          <div class="tw-col-start-2 tw-col-span-4">
            <button class="button is-dark tw-w-full" @click="goBack()">返回</button>
          </div>
        </div>
      </article>
			<p class="tw-p-2 tw-text-gray-400 tw-text-sm tw-fixed tw-bottom-0 tw-w-full tw-text-center">版本：<span>20220422-01</span></p>
    </template>

  </div>
</template>

<script>
// import { S_Obj, Go404 } from 'src/fun1.js'	// 共用fun在此!
import { S_Obj, IsMobile } from 'src/fun1.js'	// 共用fun在此!
import { ShowTheme } from 'src/fun2.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
// const IsDev = S_Obj.isDebug 	//開發debug


export default {
  data() {
    return {
			// state: this.$store.state,

      shwTheme: '',
      fromInfo: S_Obj.read('FromInfo'),
    };
  },
  methods: {
    goBack() {
			const o1 	= this.fromInfo
				,url 		= o1.fromUrl
      if (url) window.location.href = url
      // // 在殼裡面 => 開啟瀏覽器
      // if (IsMobile()) {
      //   deviseFunction('openWeburl', url, '')
      // } else {
      //   // window.open(url, '_blank')
      //   location.replace(url);
      // }
    },
    goUrl(url) {
      // 在殼裡面 => 開啟瀏覽器
      if (IsMobile()) {
        deviseFunction('openWeburl', url, '')
      } else {
        // window.open(url, '_blank')
				location.href = url;
      }
    },
  },
  beforeRouteEnter(to, from, next) {
		// next()
		next(vm => {
			vm.shwTheme = ShowTheme();
		})
  },
};
</script>