<template>
  <div :class="shwTheme">
		<div class="tw-m-5 md:tw-m-10">
			<!-- 標題名稱 -->
			<p class="tw-text-xl tw-font-semibold tw-mb-4" :class="`${shwTheme}-title`">{{curOne.Question_Name}}</p>
			<div class="tw-grid tw-grid-cols-1 tw-gap-0 tw-mt-4">
				<form name="form1">
					<template v-for="(item, index) in curOne.arrAns">
						<div class="field" :key="'item'+index">
							<label class="label" :class="`${shwTheme}-text`">{{item[0].Item_Name}}</label>
							<template v-for="(p1, ii) in item">
								<!-- 項目名稱 -->
								<template v-if="p1.ItemType == 'checkbox'">
									<!-- 選項名稱，題型(複選) -->
									<label class="checkbox" :class="`${shwTheme}-text`" :key="'checkbox'+ii">
										<input type="checkbox" :id="'chk1'+p1.Item_GID" :name="'chk1'+p1.Item_GID" :value="p1.ChoiceValue" v-model="objChk1[p1.GID]" required />
										<span class="checkmark"></span>
										{{p1.ChoiceName}}
									</label>
								</template>
								<template v-if="p1.ItemType == 'radio'">
									<!-- 選項名稱，題型(單選) -->
									<label class="radio" :class="`${shwTheme}-text`" :key="'radio'+ii">
										<input type="radio" :id="'rdo1'+p1.Item_GID" :name="'rdo1'+p1.Item_GID" :value="p1.ChoiceValue" v-model="objRdo1[p1.Item_GID]" required />
										<!-- :checked="rdoChecked(p1)" // NG: 此機制也無效 -->
										<span class="checkmark"></span>
										{{p1.ChoiceName}}
									</label>
								</template>
								<template v-if="p1.ItemType == 'textarea'">
									<!-- 多行文字 -->
									<textarea class="textarea has-fixed-size" rows="2" placeholder="" v-model="selText[p1.Item_GID]" :key="'textarea'+ii"></textarea>
								</template>
								<template v-if="p1.ItemType == 'text'">
									<!-- 單行文字 -->
									<textarea class="textarea has-fixed-size" rows="1" placeholder="" v-model="selText[p1.Item_GID]" :key="'text'+ii"></textarea>
								</template>
							</template>
						</div>
					</template>
				</form>
			</div>
			<div class="tw-mt-4 tw-text-center">
				<button class="button tw-text-white tw-m-2" :class="`${shwTheme}-bg ${shwTheme}-border`" @click="prevPage" v-if="curPage > 1">上一頁</button>
				<button class="button tw-text-white tw-m-2" :class="`${shwTheme}-bg ${shwTheme}-border`" @click="nextPage">{{isLast?'完成送出':'下一頁'}}</button>
			</div>
		</div>
  </div>
</template>

<style lang="stylus"></style>

<script>
// import store from 'src/store'
import { S_Obj,Go404,GetPara1,ForDate1,ForDate3,HasIt } from 'src/fun1.js'	// 共用fun在此!
import { ShowTheme,This1 } from 'src/fun2.js'
import { showAlert } from '../libs/appHelper.js'
import $ from 'jquery';


const IsDev = S_Obj.isDebug 	//開發debug

export default {
  data: function () {
    return {
			state: this.$store.state,

      fromInfo: S_Obj.read('FromInfo'),
      curOne: {},			// 本頁所有
      objChk1: {},
      objRdo1: {},
      selText: {},
      arrAnswer: [],

      shwTheme: '',

			totalPage: -1,
			curPage: 1,
			nRdo1: 0,							// 本頁-radio題目數
			nChk1: 0,							// 本頁-checkbox題目數
			totalScore: 0,				// 總分數
    };
  },
  computed: {
		arrQuestInfo() {
			const arr1 = S_Obj.read('QuestInfo') || this.state.questInfo
			return arr1 || []
		},
		isLast() {
			return this.curPage == this.totalPage
			// return this.curPage >= 2 // @@test
			// return true;	// @@test
		},
  },
  methods: {
		initData(){
			this.objChk1 = {}
			this.objRdo1 = {}
			this.totalScore = 0;
			this.arrAnswer = [];
    },
    scrollTop() {
			document.querySelector(".content-wrap").scrollTop = 0 // 此頁置頂
    },
		checkHasVal(){
			const nChoiceRdo1 = GetRdos(1).length
				,nChoiceChk2 		= GetChks(1).length
				// ,nChoiceRdo1 = Object.keys(this.objRdo1).length;
			// console.warn('checkHasVal-objRdo1: ', this.objRdo1);	// @@
			return nChoiceRdo1 == this.nRdo1 && nChoiceChk2 >= this.nChk1;
    },
/* 
    rdoChecked(p1) {
			const objRdo1 = this.objRdo1
					,Item_GID = p1.Item_GID
					,v2 			= p1.ChoiceValue
			for(let x in objRdo1){
				const v1 = objRdo1[x];
				if (Item_GID == x && v2 == v1) {
					return true;
				}
			}
			return false;
    },
 */
		/* 處理-點選不見問題 */
    proChecked() {
			const arrRdos	= GetRdos()
				,arrChks 		= GetChks()
				,objRdo1 		= this.objRdo1
				,objChk1 		= this.objChk1
			for(let x in objRdo1){
				const v1 = objRdo1[x];
				arrRdos.each((i, o1)=>{
					const name1 = o1.name.replace('rdo1','')
						,v2 = o1.value
					if (name1 == x && v2 == v1) {
						// console.error('proAns-name1, v2: ', name1, v2);	// @@
						o1.checked = true;
						return false;
					}
				})
			}
			for(let x in objChk1){
				const v1 = objChk1[x];
				arrChks.each((i, o1)=>{
					const name1 = o1.name.replace('chk1','')
						,v2 = o1.value
					if (name1 == x && v2 == v1) {
						// console.error('proAns-name1, v2: ', name1, v2);	// @@
						o1.checked = true;
						return false;
					}
				})
			}
    },

    prevPage() {
			const num = --this.curPage
			if (num<=this.totalPage) {
				location.hash = '#/form?page='+num
			} else {
				showAlert('no prevPage');
			}
    },
    nextPage() {
			if (!this.checkHasVal()) {
				showAlert('有沒填完的題目!!');
				return;
			}
			this.proAns();

			if (this.isLast) {	// 完成送出
				this.sendForm();
			} else {	// 下一頁
				const num = ++this.curPage
				if (num<=this.totalPage) {
					location.hash = '#/form?page='+num
				} else {
					showAlert('no nextPage');
				}
			}
    },
    getOrder1() {
			const o1 = this.fromInfo
			o1.EnterPriseID = o1.sellEnterpriseID
			o1.VIPNo = o1.Account;
			o1.VIPName = o1.MemberName;
			o1.ScoreTotal = 0;	// ChoiceValue +總
			o1.Status = 0;
			o1.CreateTime = ForDate3();
			return o1;
    },
		/* 完成送出 */
    async sendForm() {
			const loadingComponent = this.$buefy.loading.open()
				,res1 = await this.$store.dispatch('ensureQuestionOrders', this.getOrder1())
				,isOK	= !!res1.GID

			if (isOK) {
				const M_GID = res1.GID
					// ,arr1			= this.arrAnswer
				const arr1 	= this.arrQuestInfo

				let arrSend = []
				arr1.forEach((one)=>{
					one.arrWer.forEach((two)=>{
						two.M_GID = M_GID;
						// console.log('aaa-two: ', two);	// @@
						arrSend.push(two);
						if (!/text/.test(two.ItemType)) {
							this.totalScore += parseInt(two.ChoiceValue);
						}
					})
				})
				IsDev && console.warn('Debug_totalScore,arrSend: '+this.totalScore, arrSend);	// @@

				await this.$store.dispatch('ensureQuestionMember', {arr1: arrSend});
				this.initData();

				setTimeout(() => {
					loadingComponent.close()
					this.$router.push('/end');
				}, 1000)
			}
    },

		/* 處理答案(避免重覆 */
    proAns() {
			const arrRdos		= GetRdos(1)
				,arrChks 			= GetChks(1)
				// ,objRdo1 		= this.objRdo1			// NG:會有多的(點別的再點回來
				,selText 			= this.selText

			// console.log('處理答案-objRdo1: ', objRdo1);	// @@
			// console.log('處理答案-arrRdos, arrChks: ', arrRdos.length, arrChks.length);	// @@
			this.curOne.arrAns.forEach((arr1)=>{
				arr1.forEach((one)=>{
					const one_GID 	= one.GID
						,Item_GID 		= one.Item_GID

					arrRdos.each((i, o1)=>{
						const name1 = o1.name.replace('rdo1','')
							,v1 = o1.value
						// console.warn('proAns-name1, v1: ', name1, v1);	// @@
						if (name1 == Item_GID && v1 == one.ChoiceValue) {
							// console.log('nextPage-one: '+one.ChoiceName, one.ChoiceValue, one_GID);	// @@

							!HasIt.call(this.arrAnswer, 'GID', one_GID) && this.setAns(one);
							return false;
						}
					})
					arrChks.each((i, o1)=>{
						const name1 = o1.name.replace('chk1','')
							,v1 = o1.value
						if (name1 == Item_GID && v1 == one.ChoiceValue) {
							!HasIt.call(this.arrAnswer, 'GID', one_GID) && this.setAns(one);
							return false;
						}
					})
					for(let x in selText){
						if (x == Item_GID) {
							const v1 = selText[x];
							// console.warn('selText-x, v1: ', x, v1);	// @@
							!HasIt.call(this.arrAnswer, 'GID', one_GID) && this.setAns(one, v1);
							return false;
						}
					}
					// for(let x in objRdo1){
						// const v1 = objRdo1[x];
							// console.warn('objRdo1-x, v1: ', x, v1);	// @@
					// }
				})
			})
			IsDev && console.warn('nextPage-arrAnswer: ', this.arrAnswer);	// @@
			this.curOne.arrWer = this.arrAnswer;
    },
    setAns(p1, txt1) {
			const o1 = this.fromInfo

			p1.MemberNO = o1.Account;
			p1.MemberName = o1.MemberName;
			p1.ShopID = o1.ShopID;
			p1.EnterPriseID = o1.sellEnterpriseID;
			p1.Question_GID = o1.Question_GID;
			p1.WriteDate = ForDate1();

			if (txt1) {
				p1.Remark = txt1;
				delete p1.ChoiceValue;
			}
			this.arrAnswer.push(p1);
			// IsDev && console.warn('setAns: ', p1, txt1);	// @@
    },
    gestQuest() {
			const nPage = parseInt(GetPara1('page')) || 1
			let i = nPage < 1 ? 1 : nPage

			// this.curOne = null;
			const arr1 	= this.arrQuestInfo
				, nLen 		= arr1.length
			// IsDev && console.warn('gestQuest-arr1: ', arr1);	// @@
			if (nLen && i <= nLen) {
				this.curPage = i;
				this.totalPage = nLen;

				const one = arr1[i-1]
					,arr2 	= one.arrAns
					,nMax 	= arr2.length
				// IsDev && console.log('gestQuest-nPage,arr2: ', nPage, arr2);	// @@

				let j = 0, nRdo1 = 0, nChk1 = 0
				while (j<nMax) {
					const o1 = arr2[j][0];
					if (o1.ItemType == "radio") {
						nRdo1++;
					}
					if (o1.ItemType == "checkbox") {
						nChk1++;
					}
					j++;
				}

				if (one) {
					this.arrAnswer = [];
					// this.initData();

					this.nRdo1 = nRdo1;
					this.nChk1 = nChk1;
					this.curOne = one;
					this.scrollTop();
				}

				// IsDev && console.log('gestQuest-nRdo1,nChk1: ', nRdo1, nChk1);	// @@
				// IsDev && console.warn('gestQuest-nPage,one: ', nPage, one);	// @@

				// this.choiceQuest(one);
			} else {
				showAlert('找不到問卷!!')
			}
    },
  },
  beforeRouteUpdate(to, from, next) {
		this.gestQuest();

    next();
  },
  beforeRouteEnter(to, from, next) {
		next(vm => {
			if (This1) {
				vm.shwTheme = ShowTheme();
				vm.gestQuest();
			} else {	// 如企業GID錯誤跳404
				Go404();
			}
		})
  },
  watch:{
    '$route'(){
			const self = this;
			setTimeout(function(){
				self.proChecked();
			}, 200);
    }
  },
}

function GetRdos(bOn) {
	const them = $("form").find("input[type=radio]")
	// console.log('GetRdos-them: ', them);	// @@
	return bOn ? them.filter(':checked') : them
}
function GetChks(bOn) {
	const them = $("form").find("input[type=checkbox]")
	return bOn ? them.filter(':checked') : them
}
</script>