<template>
  <div :class="shwTheme">
    <!-- 開始 -->
		<template v-if="shwTheme"> <!-- 包template判斷，防止預載未完整UI -->
			<header class="tw-p-0 md:tw-p-4">
				<figure class="image is-5by2">
					<!-- 客戶形象圖片hardcode，長寬比5:2，<500K -->
					<img class="tw-object-cover md:tw-rounded-xl" :src="showHeroImage">
				</figure>
			</header>
			<article class="tw-flex-1 tw-m-6 md:mx-6" :class="`${shwTheme}-text`">
				<p class="tw-text-2xl tw-font-semibold tw-my-2">{{curOne.title}} - 顧客意見表</p>
				<!-- 自訂前言hardcode  -->
				<!-- 碳佐麻里精品燒肉 -->
				<p class="tw-my-2" v-html="curOne.memo"></p>

				<div class="tw-grid tw-grid-cols-6 tw-mt-20">
					<div class="tw-col-start-2 tw-col-span-4">
						<button class="button tw-w-full tw-text-white" :class="`${shwTheme}-bg ${shwTheme}-border`" @click="clickGo()">開始</button>
					</div>
				</div>
			</article>
		</template>
  </div>
</template>

<script>
import store from 'src/store'

// import { S_Obj,L_Obj,IsLogin } from 'src/fun1.js'	// 共用fun在此!
import { S_Obj,GetPara1,Go404,ClearUrl,ForDate3 } from 'src/fun1.js'	// 共用fun在此!
import { ShowTheme,SetThis1,This1 } from 'src/fun2.js'

const IsDev = S_Obj.isDebug 	//開發debug

export default {
  name: "Home",
  data() {
    return {
			state: this.$store.state,

      showHeroImage: '',
      shwTheme: '',
      curOne: {},

    };
  },
  // computed: {
		// showTheme() {
			// return ShowTheme();
		// },
		// // showTheme() {
			// // const ke1 = this.curOne.key
			// // if (ke1) {
				// // return 'theme-'+ke1.toLocaleLowerCase();
			// // }
			// // return '';
		// // },
  // },
  methods: {
		clickGo() {
      const loadingComponent = this.$buefy.loading.open()
      setTimeout(() => {
        loadingComponent.close()
				location.replace('#/form');
      }, 1000)
    },
		async getQuestion(o1) {
			// const epid 	= o1.surveyEnterpriseID
			const epid 	= o1.sellEnterpriseID
				,id1 			= o1.Question_GID
				,one 		= this.state.arrEntGID.find(o => o.gid == id1) || S_Obj.read('SetThis1')
				// ,one 		= this.state.arrEntGID[2]		// @@test

			this.$store.commit('setSubEnterpriseID', epid);
			// console.log('beforeRouteEnter-one: ', one);	// @@
			if (one) {
				await this.$store.dispatch('fetchQuestion', {gid: id1});
				// 網頁標籤
				document.title = one.title + ' 顧客意見表'

				SetThis1(one);
				this.shwTheme = ShowTheme();
				this.curOne = one;

				const key1 = one.key
				let v3 = ''
				if (key1 == 'TZ') {
					v3 = 'static/hero-image-tzml.jpg'
				} else if (key1 == 'TG') {
					v3 = 'static/hero-image-tango.jpg';
				} else if (key1 == 'GS') {
					v3 = 'static/hero-image-gs.jpg'
				// } else if (key1 == 'HC') {
				} else {
					v3 = 'static/hero-image-hc.jpg'
				}
				this.showHeroImage = v3;
			}
		},
    // findGid(v1) {
			// const arr1 = this.state.arrEntGID
			// console.warn('findGid_v1: '+v1, arr1);	// @@
			// return arr1.find(o => o.gid == v1);
    // },
  },
  beforeRouteEnter(to, from, next) {
		const code1 = GetPara1('surlid')
		IsDev && console.log('beforeRouteEnter-code1: ', code1);	// @@
		// next()
		next(vm => {
			if (code1) {
				ClearUrl();

				store.dispatch('goSurl',{sUrl:code1,fn:(o1)=>{
					// console.log('FromInfo_o1: ', o1);	// @@
					// IsHank && alert('解密: \n'+JSON.stringify(o1));	// @@
					if (o1) {
						o1.WorkDate = ForDate3();
						S_Obj.save('FromInfo', o1);
						vm.getQuestion(o1);
					}

				}})
			} else {
				const o1 	= S_Obj.read('FromInfo')
				if (o1) {
					vm.getQuestion(o1);
				} else {
					Go404()
				}
			}
		})

  },
  watch:{
    '$route'(){
			if (!This1) { Go404(); }
    }
  },
};
</script>