<template>
  <div class="tw-text-center tw-py-20">
    <p class="tw-text-3xl tw-mb-4">:‑(</p>
    <p class="tw-text-base">喔喔！ 無效的問卷網址...</p>
    <div class="tw-grid tw-grid-cols-6 tw-mt-10">
      <div class="tw-col-start-2 tw-col-span-4">
        <button class="button is-dark tw-w-full">返回</button>
      </div>
    </div>
  </div>
</template>
