<template>
  <div id="app">
    <!-- 問卷內容 -->
    <section class="tw-h-full tw-overflow-y-auto content-wrap">
      <router-view></router-view>
    </section>
    <!-- 置底進度列
    <footer class=" bg-gray-50" v-if="this.$store.state.surveyCurrent != 0 && this.$store.state.surveyCurrent <= this.$store.state.surveyTotal">
      <div class="flex p-3 items-center shadow-sm border-t">
        <div class="flex-auto pr-2">
          <progress class="progress is-dark is-small" :value="progressValue" max="100"></progress>
          {{ this.$store.state.surveyCurrent+' / '+this.$store.state.surveyTotal }}
        </div>
        <div class="flex-none text-right">
          <button class="button is-dark mr-2" @click="preSurvey">上一頁</button>
          <button class="button is-dark" @click="nextSurvey">
            {{ this.$store.state.surveyCurrent==this.$store.state.surveyTotal ?'完成送出':'下一頁' }}
          </button>
        </div>
      </div>
    </footer> -->
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      surveyCurrent: this.$store.state.surveyCurrent
    };
  },
  computed: {
    progressValue(){ return this.$store.state.surveyCurrent*100/this.$store.state.surveyTotal }
  },
  methods: {
    nextSurvey() {
      // if(!this.datePriod) return
      if(this.$store.state.surveyCurrent > this.$store.state.surveyTotal) return
      this.$store.state.surveyCurrent ++
    },
    preSurvey() {
      this.$store.state.surveyCurrent --
    }
  },
}
</script>
<style lang="stylus">

</style>
